apiVersion: 1

datasources:
  # 1. Prometheus (Metrics)
  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: http://prometheus:9090
    jsonData:
      httpMethod: POST
      exemplarsRepoId: tempo # Links Metrics -> Traces via Exemplars

  # 2. Loki (Logs)
  - name: Loki
    type: loki
    uid: loki
    url: http://loki:3100
    jsonData:
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: "trace_id=(\\w+)" # Extracts trace_id from logs
          name: TraceID
          url: '$${__value.raw}' # Creates the clickable link

  # 3. Tempo (Traces)
  - name: Tempo
    type: tempo
    uid: tempo
    url: http://tempo:3200
    jsonData:
      nodeGraph:
        enabled: true
      lokiSearch:
        datasourceUid: loki # Allows searching logs from within a trace
      serviceMap:
        datasourceUid: prometheus # Visualizes service dependencies